<%- include('../partials/head'); %>
<%- include('../partials/header-nav'); %>

<h1>Your preferences</h1>

<form action="/preferences" method="post"> 

    <label for="genderSelect">Choose your gender:</label>
  
    <select name="genderSelect" id="genderSelect">
        <option value="">--Please choose an option--</option>
        <option value="He" <%= preferences.ownGender == 'He' ? 'selected' : '' %> >He</option>
        <option value="She" <%= preferences.ownGender == 'She' ? 'selected' : '' %> >She</option>
        <option value="none" <%= preferences.ownGender == 'none' ? 'selected' : '' %> >non-binary</option>
    </select>
  
    <label for="genderPreference">Choose a preferred gender:</label>
  
    <select name="genderPreference" id="genderPreference">
        <option value="">--Please choose an option--</option>
        <option value="He" <%= preferences.preferredGender == 'He' ? 'selected' : '' %> >He</option>
        <option value="She" <%= preferences.preferredGender == 'She' ? 'selected' : '' %> >She</option>
        <option value="both" <%= preferences.preferredGender == 'both' ? 'selected' : '' %> >both</option>
    </select>
  
    <div>
  
      <label for="distance">Distance</label>
      <input type="number" id="distance" name="distance" min="0" max="200" step="1" value="<%= preferences.maxDistance %>">
  
    </div>
  
    <div>
  
      <label for="distance">Minimum age</label>
      <input type="number" id="minAge" name="minAge" min="18" max="100" step="1" value="<%= preferences.minAge %>">
  
    </div>
  
    <div>
  
      <label for="distance">Maximum age</label>
      <input type="number" id="maxAge" name="maxAge" min="18" max="100" step="1" value="<%= preferences.maxAge %>">
  
    </div>
  
  
    <button>Add</button>
  </form>
<%- include('../partials/footer'); %>
