<%- include('../partials/head'); %>
<%- include('../partials/header-nav'); %>

<main>
<h1>
<%= profileData.firstName %>
</h1>
<% if (profileData.profilePicturePath) { %>
<img class="profilePicture" alt src="/img/<%= profileData.profilePicturePath %>">
<% } %>
<p>
<%= profileData.age %>
</p>
<p id="bio">
<%= profileData.bio %>
</p>

<button class="buttonBucketlist"><a href="/bucketlistOverview">My Bucketlist</a></button>

</main>
<%- include('../partials/footer'); %>
