<%- include('../partials/head'); %>
<%- include('../partials/header-nav'); %>

<main>
    <h1>
        <%= profileData.firstName %>
    </h1>
        <% if (profileData.profilePicturePath) { %>
    <img class="profilePicture" alt src="<%= profileData.profilePicturePath %>">
        <% } %>
    <p>
     <%= profileData.age %>
    </p>
    <p id="bio">
        <%= profileData.bio %>
    </p>
    
    <div class="profileButtonDiv">
        <button class="profileButton"><a href="/add">Edit profile data</a></button>
        <button class="profileButton"><a href="/preferences">My Preferences</a></button>
        <button class="profileButton"><a href="/bucketlistOverview">My Bucketlist</a></button>
    </div>

</main>
<%- include('../partials/footer'); %>
