<%- include('../partials/head'); %>
<%- include('../partials/header'); %>


    <h1>Your preferences</h1>

<div class="preferences-view">
    <section>
        <h3>Gender </h3>
        <p class="preference"><%= preferences.genderSelect %></p>

        <h3>Gender preference</h3>
        <p class="preference"><%= preferences.genderPreference %></p>

        <h3>Distance</h3>
        <p class="preference"><%= preferences.distance %></p>
        
        <h3>Minimum age</h3>
        <p class="preference"><%= preferences.minimumAge %></p>

        <h3>Maximum age</h3>
        <p class="preference"><%= preferences.maximumAge %></p>
        <button type="submit"><a href="/profile">Go back</a></button>
    </section>
</div>

<%- include('../partials/footer'); %>
