<%- include('../../partials/head'); %>
<%- include('../../partials/header-nav'); %>

<body id="bodyWelcome">
  <main>
    <div class="welcomeLinks">
      <a href="/welcome">Go back</a>
    </div>

    <h1>Your bucketlist locations</h1>
    <button class="buttonLogin1"><a href="/profile">Change your bucketlist location</a></button>
    <div class="countryResults">


      <h2> To where: <%= countryView.countryQuestionOne %> </h2>
      <h2> Why there: <%= countryView.countryQuestionTwo %> </h2>
      <h2> With who: <%= countryView.countryQuestionThree %></h2>

   

    </div>


  </main>

  <%- include('../../partials/footer'); %>
</body>