<%- include('../../partials/head'); %>
<%- include('../../partials/header'); %>

<main>
  <h1>RESULTATEN BUCKETLIST</h1>
  <p>Welcome to Backend A2 Assignment</p>

  <div class="countryResults">
    <div>
        <!-- loop trough the schema object -->
       
        <% if (interestView.length > 0) { %>
        <% interestView.forEach(view => { %>

       
            <p class='oneCountry'> <%= view.countryOne %></p>
            <p class='oneCountry'> <%= view.countryTwo %></p>
            <p class='oneCountry'> <%= view.countryThree %></p>
        </a>

        <% }) %>
        <% } else {%>
        <p>nog geen interesses toegevoegd</p>
        <% }%>
    </div>
</div>

</main>

<%- include('../../partials/footer'); %>