<%- include('../../partials/head'); %>
<%- include('../../partials/header'); %>
<main>
    <div class="extraInformatie">
        <h1>Your country!</h1>
        <p><%= countryInfo.countryQuestionOne %></p>
    </div>

    <div class="extraInformatie">
        <h1>Your reason!</h1>
        <p><%= countryInfo.countryQuestionTwo %></p>
    </div>

    <div class="extraInformatie">
        <h1>With who?!</h1>
        <p><%= countryInfo.countryQuestionThree %></p>
    </div>

</main>

<%- include('../../partials/footer'); %>
