<%- include('../../partials/head'); %>
<%- include('../../partials/header'); %>
<main>
    <div class="extraInformatieTitel">
        <p><%= Xinfo.countryOne %></p>
    </div>

    <div class="extraInformatie">
        <p><%= Xinfo.countryTwo %></p>
    </div>

    <div class="extraInformatie">
        <p><%= Xinfo.countryThree %></p>
    </div>

</main>

<%- include('../../partials/footer'); %>