<%- include('../../partials/head'); %>
<%- include('../../partials/header'); %>
<main>
    <div class="extraInformatie">
        <h1>You're country!</h1>
        <p><%= countryInfo.countryQuestionOne %></p>
    </div>

    <div class="extraInformatie">
        <h1>You're reason!</h1>
        <p><%= countryInfo.countryQuestionTwo %></p>
    </div>

    <div class="extraInformatie">
        <h1>You're looking for?!</h1>
        <p><%= countryInfo.countryQuestionThree %></p>
    </div>

</main>

<%- include('../../partials/footer'); %>