<%- include('../../partials/head'); %>
<%- include('../../partials/header'); %>
<main>
    <div class="extraInformatieTitel">
        <p><%= countryInfo.countryQuestionOne %></p>
    </div>

    <div class="extraInformatie">
        <p><%= countryInfo.countryQuestionTwo %></p>
    </div>

    <div class="extraInformatie">
        <p><%= countryInfo.countryQuestionThree %></p>
    </div>

</main>

<%- include('../../partials/footer'); %>